<div class="container text-center navbar-adjust-content move">
    <h1 class="aboutTitle">About Us</h1>

    <div class="col-md-6">

        <img class="img-rounded" src="resources/assets/aboutImage2.jpg" alt="about" width="100%" />

    </div>

    <div class="col-md-6 text-justify aboutText">

        Located at River des Peres and Lemay Ferry roads, GloboGym offers an
        unparalleled experience through fitness programs and certified fitness professionals
        to support the health and fitness goals and aspirations of our members.
        <br>
        <br>
        This healthy way of life destination offers indoor and outdoor pools, a full-service spa,
        a café that features a healthy diet, nationally renowned group fitness instructors and
        personal trainers, an indoor cycling studio and cutting-edge fitness equipment.
        Our programming aims to exceed your expectations, including swimming lessons,
        weight loss programs, kids activities, yoga and Pilates classes, outdoor cycle rides and much more.
        <br>
        <br>
        No matter your goal – from losing weight to improving athletic performance or spending
        quality time with family and friends –
        GloboGym Fitness in St. Louis, Mo. strives to deliver the best places,
        performers and programs to help you get fit, feel great and live a healthy lifestyle.

    </div>


</div>