<div class="container text-center navbar-adjust-content move">
    <h1 class="text-center aboutTitle">Membership Plans</h1></div>

<!--pricing tables 2-->
<section class="container show-source">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><h2 class="text-center">Simple</h2></div>
                <div class="panel-body text-center" style="max-height: 80px; min-height: 80px;">
                    <p class="lead" style="font-size:35px"><strong>$9.99/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited training equipment use</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Gym Access from 7:00 AM - 7:00 PM</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>1 personal training session</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>1 tanning session</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info">JOIN TODAY!</a>
                </div><!--/panel-footer-->
            </div><!--/panel-->
        </div><!--/col-->
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><h2 class="text-center">Pro</h2></div>
                <div class="panel-body text-center" style="max-height: 80px; min-height: 80px;">
                    <p class="lead" style="font-size:35px"><strong>$19.99/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited training equipment use</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 Gym Access</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Access to massage, tanning beds</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>5 personal training sessions</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info">JOIN TODAY!</a>
                </div><!--/panel-footer-->
            </div><!--/panel-->
        </div><!--/col-->
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><h2 class="text-center">Premier</h2></div>
                <div class="panel-body text-center" style="max-height: 80px; min-height: 80px;">
                    <p class="lead" style="font-size:35px"><strong>$29.99/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited training equipment use</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 Gym Access</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Access to cinema, cardio rooms</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited personal training sessions</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info">JOIN TODAY!</a>
                </div><!--/panel-footer-->
            </div><!--/panel-->
        </div><!--/col-->
    </div><!--/row-->
</section><!--/container-->

<div id="source-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Source Code <button id="btnCopy" class="btn btn-default btn-xs">Select all</button>

                </h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="sourceCode" autofocus="" rows="25">&lt;button type="button" class="btn btn-default btn-lg btn-block"&gt;Block level button&lt;/button&gt;</textarea>
            </div>
        </div>
    </div>
</div>